<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>邮件模板</title>
</head>
<body>
	<table style="width: 600px;">
		<tbody>
			<tr style="background-color: #a3d900">
				<td>分组名称</td>
				<td>执行时长</td>
				<td>成功</td>
				<td>失败</td>
				<td>开始时间</td>
			</tr>
			<tr style="background-color: #a3d900">
				<td>${groupName}!</td>
				<td>20分钟</td>
				<td>3个</td>
				<td>2个</td>
				<td></td>
			</tr>
			<tr style="background-color: #c9dd22">
				<td>用例Id</td>
				<td>用例名称</td>
				<td>执行结果</td>
				<td>运行时长</td>
				<td>开始时间</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</body>
</html>