<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>分组列表</title>
<div th:include="/include/header :: header"></div>
</head>
<body>
	<div class="easyui-panel" title="分组信息" data-options="fit:true">
		<table class="easyui-datagrid"
			data-options="fit:true,toolbar:'#grid_toolbar'" idField="id"
			remoteSort="true" multiSort="true" sortName="createOn"
			sortOrder="desc" striped="true" fitColumns="true" nowrap="false"
			rownumbers="true" singleSelect="true" pagination="true" pageSize="20">
			<thead>
				<tr>
					<th data-options="field:'ck',checkbox:true"></th>
					<th data-options="field:'name',width:100,sortable:true">名称</th>
					<th
						data-options="field:'type',width:100,align:'center',sortable:true,formatter:formatType">类型</th>
					<th
						data-options="field:'url',width:100,align:'center',sortable:true">Url</th>
					<th
						data-options="field:'createOn',width:100,align:'center',sortable:true,formatter:formatDateTime">创建时间</th>
					<th
						data-options="field:'modifyOn',width:100,align:'center',sortable:true,formatter:formatDateTime">修改时间</th>
					<th
						data-options="field:'remark',width:100,align:'center',sortable:true">备注</th>
				</tr>
			</thead>
		</table>
		<div id="grid_toolbar" style="padding: 2px 5px; float: right;">
			<div class="easyui-panel"
				style="padding: 5px; border: none; width: 100%;">
				<a href="javascript:;" id="btnAdd" onclick="btnAdd_Click(this);"
					class="easyui-linkbutton" data-options="iconCls:'icon-add'">新增</a>
				<a href="javascript:;" id="btnUpdate"
					onclick="btnUpdate_Click(this);" class="easyui-linkbutton"
					data-options="iconCls:'icon-scriptedit'">修改</a> <a
					href="javascript:;" id="btnDelete" onclick="btnDelete_Click(this);"
					class="easyui-linkbutton" data-options="iconCls:'icon-decline'">删除</a>
				<a href="javascript:;" class="easyui-menubutton"
					data-options="menu:'#dataGridFind',iconCls:'icon-magnifier'">查询</a>
				<a href="javascript:;" id="btnShowExec"
					onclick="btnShowExec_Click(this);" class="easyui-linkbutton"
					data-options="iconCls:'icon-decline'">执行</a> <a href="javascript:;"
					onclick="btnRefresh_Click(this, $('.easyui-datagrid'));"
					class="easyui-linkbutton"
					data-options="iconCls:'icon-arrowrefresh'">刷新</a>
			</div>
			<div id="dataGridFind" style="width: 100px;">
				<div data-options="iconCls:'icon-magnifier'"
					onclick="btnCheck_Click(this, $('.easyui-datagrid'));">单页查询</div>
				<div data-options="iconCls:'icon-zoom'" onclick="winComplex.show();">高级查询</div>
				<div data-options="iconCls:'icon-magifierzoomout'">组合查询</div>
			</div>
		</div>
	</div>
	<div id="winEdit" class="easyui-window" data-options="closed:true"
		title=" ">
		<div style="padding: 20px">
			<form id="winForm" method="post">
				<input type="hidden" name="_method" />
				<input type="hidden" name="id" />
				<input type="hidden" name="createOn" />
				<!-- 				<input type="hidden" name="modifyOn" /> -->
				<table cellpadding="5" style="width: 100%">
					<tr>
						<td style="text-align: right;"><font color='red'>*</font>
							分组名称:</td>
						<td><input type="text" name="name" style="width: 80%;"
								class="easyui-textbox"
								data-options="required:true,validType:['length[0, 64]']" /></td>
					</tr>
					<tr>
						<td style="text-align: right;"><font color='red'>*</font>
							类&nbsp;&nbsp;型:</td>
						<td><select class="easyui-combobox" id="type" name="type"
							style="width: 80%;" panelHeight="auto"
							data-options="valueField: 'id',textField: 'text',required:true">
						</select></td>
					</tr>
					<tr>
						<td style="text-align: right;">Url:</td>
						<td><input type="text" name="url" style="width: 80%;"
								class="easyui-textbox"
								data-options="validType:['length[0, 64]']" /></td>
					</tr>
					<tr>
						<td style="text-align: right;">备&nbsp;&nbsp;注:</td>
						<td><input name="remark" class="easyui-textbox"
								style="width: 80%; height: 60px"
								data-options="multiline:true,validType:['length[0, 256]']" /></td>
					</tr>
				</table>
			</form>
			<div style="text-align: center; padding: 5px">
				<a href="javascript:void(0)" class="easyui-linkbutton"
					data-options="iconCls:'icon-disk'"
					onclick="return btnSave_Click(this);">保存</a> <a
					href="javascript:void(0)" class="easyui-linkbutton"
					data-options="iconCls:'icon-cancel'"
					onclick="$('#winEdit').window('close');">取消</a>
			</div>
		</div>
	</div>

	<div id="winExec" class="easyui-window" data-options="closed:true"
		title=" ">
		<div style="padding: 20px">
			<form id="winForm" method="post">
				<input type="hidden" name="_method" />
				<input type="hidden" name="id" />
				<input type="hidden" name="createOn" />
				<!-- 				<input type="hidden" name="modifyOn" /> -->
				<table cellpadding="5" style="width: 100%">
					<tr>
						<td style="text-align: right;"><font color='red'>*</font>
							浏览器类型:</td>
						<td><select class="easyui-combobox" id="browser"
							name="selector" style="width: 80%;" data-options="required:true">
								<option value="chrome" selected="selected">Chrome</option>
								<option value="ie">IE</option>
								<option value="edge">Edge</option>
								<option value="firefox">Firefox</option>
								<option value="opera">Opera</option>
								<option value="safari">Safari</option>
						</select></td>
					</tr>
					<tr>
						<td style="text-align: right;"><font color='red'>*</font> 版本:</td>
						<td><select class="easyui-combobox" id="browser"
							name="selector" style="width: 80%;" data-options="required:true">
								<option value="v67-69" selected="selected">v67-69</option>
								<option value="v66-68">v66-68</option>
								<option value="v65-67">v65-67</option>
								<option value="v64-66">v64-66</option>
								<option value="v63-65">v63-65</option>
								<option value="v62-64">v62-64</option>
						</select></td>
					</tr>
				</table>
			</form>
			<div style="text-align: center; padding: 5px">
				<a href="javascript:void(0)" class="easyui-linkbutton"
					data-options="iconCls:'icon-disk'"
					onclick="return btnExec_Click(this);">执行</a> <a
					href="javascript:void(0)" class="easyui-linkbutton"
					data-options="iconCls:'icon-cancel'"
					onclick="$('#winExec').window('close');">取消</a>
			</div>
		</div>
	</div>

	<div th:include="/include/footer :: footer"></div>
	<script type="text/javascript" th:inline="javascript">
	//<![CDATA[
	var queryParams = {};
	var winEdit = $("#winEdit");
	var winExec = $("#winExec");
	var winForm = $("#winForm");
	var dataGrid = $(".easyui-datagrid");
	
	function formatType(val, row) {
	  switch (val) {
	    case 1:
	      return "PC端";
	    case 2:
	      return "移动端";
	    case 3:
	      return "API";
	    default:
	      return "";
	  }
	}
	function initType() {
	  var data = [];
	  data.push({
	    id: 1,
	    text: "PC端"
	  });
	  data.push({
	    id: 2,
	    text: "移动端"
	  });
	  data.push({
	    id: 3,
	    text: "API"
	  });
	  $("#type").combobox("loadData", data);
	}
	function loadGrid() {
	  dataGrid.datagrid("clearSelections");
	  var options = dataGrid.datagrid('options');
	  dataGrid.datagrid({
	    method: "GET",
	    url: "/case/groups/paged",
	    queryParams: queryParams,
	    onBeforeLoad: function(param) {
	      onBeforeLoad(param, options.pageSize);
	    }
	  });
	}
	var btnAdd_Click = function(sender, e) {
	  winForm.form("clear");
	  winEdit.window("setTitle", "新增用户信息");
	  // 	  winEdit.setIconCls($(sender).linkbutton("options").iconCls);
	  winEdit.window("open")
	};
	var btnUpdate_Click = function(sender, e) {
	  var selectRows = dataGrid.datagrid("getSelections");
	  if (selectRows.length != 1) {
	    dialogWarning("请选择一项数据进行修改！");
	    return;
	  }
	  var record = selectRows[0];
	  if (record) {
	    winForm.form("clear")
	    winForm.form("load", record);
	    $("#password2").textbox("setValue", record.password);
	  }
	  $("input[name='_method']").val("PUT");
	  winEdit.window("setTitle", "修改用户信息");
	  // 	  winEdit.setIconCls($(sender).linkbutton("options").iconCls);
	  winEdit.window("open");
	};
	var btnSave_Click = function(sender, e) {
	  showLoading();
	  winForm.form('submit', {
	    url: "/case/group",
	    onSubmit: function(param) {
	      var isValid = $(this).form('validate');
	      if (!isValid) {
	        hideLoading();
	      }
	      return isValid;
	    },
	    success: function(data) {
	      hideLoading();
	      var json = eval("(" + data + ")");
	      showMessage(json.message);
	
	      loadGrid();
	      winEdit.window("close");
	    }
	  });
	};
	var btnDelete_Click = function(sender, e) {
	  var selectRows = dataGrid.datagrid("getSelections");
	  if (selectRows.length != 1) {
	    dialogWarning("请选择一项数据进行删除！");
	    return;
	  }
	  var record = selectRows[0];
	  $.messager.confirm("温馨提示", "确定要删除吗？", function(r) {
	    if (!r)
	      return;
	    showLoading();
	    $.ajax({
	      url: "/case/group?id=" + record.id,
	      type: "DELETE",
	      cache: false,
	      dataType: "json",
	      // 	      data: {
	      // 	        id: record.id
	      // 	      },
	      success: function(data, statusText) {
	        hideLoading();
	
	        loadGrid();
	        showMessage(data.message);
	      },
	      error: function(XMLHttpRequest, textStatus, errorThrown) {
	        hideLoading();
	      // 	        ajaxErrorDialog(errorThrown);
	      }
	    });
	  });
	};
	var btnShowExec_Click = function(sender, e) {
	  // 		  winExec.form("clear");
	  winExec.window("setTitle", "执行");
	  // 	  winExec.setIconCls($(sender).linkbutton("options").iconCls);
	  winExec.window("open")
	};
	var btnExec_Click = function(sender, e) {
	  var selectRows = dataGrid.datagrid("getSelections");
	  if (selectRows.length != 1) {
	    dialogWarning("请选择一项数据！");
	    return;
	  }
	  var record = selectRows[0];
	
	  showLoading();
	  $.ajax({
	    url: "/exec",
	    type: "POST",
	    cache: false,
	    dataType: "json",
	    data: {
	      groupId: record.id
	    },
	    success: function(data, statusText) {
	      hideLoading();
	
	      loadGrid();
	      showMessage(data.message);
	    },
	    error: function(XMLHttpRequest, textStatus, errorThrown) {
	      hideLoading();
	    // 	        ajaxErrorDialog(errorThrown);
	    }
	  });
	}
	$(function() {
	  loadGrid();
	  initType();
	});
	//]]>
	</script>
</body>
</html>